<section class="mt-main product-detail">
  <div class="grid wide">
    <div class="row pd">

      <div class="col l-6 m-12 c-12">
        <div class="product-detail__wrap-img">
          <div class="slider-for">
            <div>
              <img src="/image/products/{{product.image}}" />
            </div>
            {{! <div>
              <img src="/image/products/product2.jpg" alt="" />
            </div>
            <div>
              <img src="/image/products/product3.jpg" alt="" />
            </div>
            <div>
              <img src="/image/products/product2.jpg" alt="" />
            </div>
            <div>
              <img src="/image/products/product3.jpg" alt="" />
            </div> }}
          </div>

          <div class="product-detail__img-small">
            <div class="slider-nav">
              {{! <img src="/image/products/<?=$image ?>" /> }}
              {{! <img src="/image/products/product2.jpg" alt="" />
              <img src="/image/products/product3.jpg" alt="" />
              <img src="/image/products/product2.jpg" alt="" />
              <img src="/image/products/product3.jpg" alt="" /> }}
            </div>

            <div class="custom-arrow-slick-prev product-detail-arrow-slick-prev">
              <i class="fa-solid fa-chevron-left"></i>
            </div>
            <div class="custom-arrow-slick-next product-detail-arrow-slick-next">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>

        </div>
      </div>

      <div class="col l-6 m-12 c-12">
        <div class="product-content product-detail__info">
          <h2 class="product-content__name">
            {{product.name}}
          </h2>
          <div class="product-content__wrap-price">
            <h2 class="product-content__price">
              {{formatVND product.price}}
            </h2>
            <del class="product-content__price-old">
              {{formatVND product.promotion}}
            </del>
          </div>
          <div class="product-content__star">
            {{{renderRating product.star}}}
          </div>
          <p class="product-content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore</p>
          <div class="product-content__amount">{{product.quantity}} sản phẩm trong kho</div>
          <form action="" class="product-content__form">
            <input value="1" type="number" />
            <div class="product-content__btn">
              <button class="custom-btn btn-3">
                <span>Thêm vào giỏ hàng</span>
              </button>
            </div>
          </form>
          <div class="product-content__text">
            Danh mục:
            <span>GPS Systems, Lighting</span>
          </div>
          <div class="product-content__text">
            Thương hiệu:
            <span>Hella, KOITO, Magneti Marelli, OSRAM, Valeo</span>
          </div>

          <ul class="product-content__social">
            <li>
              <a href="#">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-brands fa-pinterest-p"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="description">
  <div class="grid wide">
    <div class="row pd">

      <div class="col l-12 m-12 c-12">
        <!-- Tab items -->
        <div class="tabs">
          <div class="tab-item">Mô tả</div>
          <div class="tab-item">Thông tin bổ sung</div>
          <div class="tab-item active">Đánh giá (4)</div>
          <div class="line"></div>
        </div>

        <!-- Tab content -->
        <div class="tab-content">
          <div class="tab-pane">
            <p>
              Trái với suy nghĩ của nhiều người, Lorem Ipsum không chỉ đơn giản là văn bản ngẫu nhiên. Nó có nguồn gốc
              từ một tác phẩm cổ điển Văn học Latinh từ năm 45 trước Công nguyên, làm cho nó hơn 2000 năm tuổi. Vivamus
              bibendum magna Lorem ipsum dolor ngồi amet, consectetur adipiscing elit. Trái với suy nghĩ của nhiều
              người, Lorem Ipsum không chỉ đơn giản là văn bản ngẫu nhiên. Nó có nguồn gốc từ một tác phẩm văn học
              Latinh cổ điển từ năm 45 trước Công nguyên, khiến nó có tuổi đời hơn 2000 năm.
            </p>
          </div>
          <div class="tab-pane">
            <table>
              <tr>
                <td>Màu sắc</td>
                <td>Xám trắng</td>
              </tr>
              <tr>
                <td>Trọng lượng</td>
                <td>2kg</td>
              </tr>
              <tr>
                <td>Chiều cao</td>
                <td>74,4cm</td>
              </tr>
              <tr>
                <td>Bảo hành</td>
                <td>2 năm</td>
              </tr>
            </table>
          </div>

          <div class="tab-pane active">
            <div class="review">
              <img class="review-img" src="/image/others/testimonial-1.jpg" alt="" />
              <div class="review-info">
                <h2 class="review-info__name">Quốc An</h2>
                <p class="review-info__date">16-03-2022</p>
                <p class="review-info__content hide-on-mobile">
                  Lorem Ipsumin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                  nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                </p>
                <div class="review-info__star-box hide-on-tablet hide-on-pc">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>

              <div class="review-info__star-box hide-on-mobile">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
              </div>
            </div>
            <p class="review-info__content hide-on-tablet hide-on-pc">
              Lorem Ipsumin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
              elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
            </p>

            <div class="comment">
              <form action="" class="form-comment" method="POST" id="form-comment">
                <h2 class="comment-heading">Hãy viết đánh giá của bạn</h2>
                <div class="comment-rating">
                  <i data-id="1" class="rating-js fa-regular fa-star"></i>
                  <i data-id="2" class="rating-js fa-regular fa-star"></i>
                  <i data-id="3" class="rating-js fa-regular fa-star"></i>
                  <i data-id="4" class="rating-js fa-regular fa-star"></i>
                  <i data-id="5" class="rating-js fa-regular fa-star"></i>
                </div>

                <input type="number" hidden value="0" class="input-rating" name="rating" />

                <div class="form-group">
                  <div class="input-group">
                    <textarea id="review" placeholder="Nội dung đánh giá *" class="form-control form-textarea" cols="30"
                      rows="7"></textarea>
                    <span class="iconError"><i class="fa-solid fa-triangle-exclamation"></i></span>
                  </div>
                  <span class="form-message"></span>
                </div>

                <div class="btn-comment">
                  <button class="custom-btn btn-3">
                    <span>Gửi Đánh Giá</span>
                  </button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="product-related pd">
  <div class="grid wide">
    <h2 class="title">Sản phẩm liên quan</h2>

    <div class="custom-arrow-slick-prev product-related-arrow-slick-prev">
      <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="custom-arrow-slick-next product-related-arrow-slick-next">
      <i class="fa-solid fa-chevron-right"></i>
    </div>

    <div class="row">
      {{#each relatedProducts}}
      <div class="col l-3">
        <div class="product">
          <a href="/product/{{this.slug}}" class="product-wrap-img">
            <img class="product-img" src="/image/products/{{this.image}}" />
            <!-- hide -->
            <div class="product-wrap-view">
              Xem nhanh
            </div>
            <div class="product-wrap-sale">
              {{discountPrice this.price this.promotion}}
            </div>
            <div class="product-wrap__icon">
              <span><i class="fa-thin fa-heart"></i></span>
              <span><i class="fa-thin fa-arrows-rotate"></i></span>
            </div>
          </a>

          <div class="product-info">
            <div class="product-info__border hide-on-mobile"></div>
            <a href="/product/{{this.slug}}" class="product-info__name">
              {{this.name}}
            </a>
            <div class="product-info__star">
              {{{renderRating this.star}}}
            </div>
            <div class="product-info__wrap-price">
              <div class="product-info__price">
                {{formatVND this.price}}
              </div>
              <del class="product-info__priceold">
                {{formatVND this.promotion}}
              </del>
            </div>
            <div class="product-info__btn">
              Add to cart
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>