<section class="shop mt-main">
  <div class="grid wide">
    <div class="row pd">

      <!-- Sidebar -->
      <div class="col l-3 m-3">
        <div class="shop-sidebar">
          <div class="shop-sidebar__close hide-on-pc">
            <i class="fa-light fa-xmark"></i>
          </div>

          <!-- Category -->
          <div class="shop-category">
            <h3 class="shop-title">Danh mục</h3>
            <ul class="shop-category__list">
              {{#each categories}}
              <li>
                <a {{activeShop}} href="/shop/category/{{this.slug}}">
                  {{this.name}}
                  <i class="fa-regular fa-angle-right"></i>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>

          <!-- Filter price -->
          <div class="shop-filter-price">
            <h3 class="shop-title main">Lọc theo giá</h3>
            <ul class="shop-price-list">
              {{!-- <li class="shop-brand-item" data-id="${item.id}">
                <input class="input-brand" id="price-${item.id}" type="checkbox" />
                <label for="price-${item.id}">Dưới 1 triệu</label>
              </li>
              <li class="shop-brand-item" data-id="${item.id}">
                <input class="input-brand" id="price-${item.id}" type="checkbox" />
                <label for="price-${item.id}">Từ 1 - 2 triệu</label>
              </li>
              <li class="shop-brand-item" data-id="${item.id}">
                <input class="input-brand" id="price-${item.id}" type="checkbox" />
                <label for="price-${item.id}">Từ 5 - 10 triệu</label>
              </li>
              <li class="shop-brand-item" data-id="${item.id}">
                <input class="input-brand" id="price-${item.id}" type="checkbox" />
                <label for="price-${item.id}">Từ 10 - 50 triệu</label>
              </li>
              <li class="shop-brand-item" data-id="${item.id}">
                <input class="input-brand" id="price-${item.id}" type="checkbox" />
                <label for="price-${item.id}">Trên 100 triệu</label>
              </li> --}}

            </ul>
            <div class="slicer">
              <div class="progress"></div>
            </div>
            <div class="range-input">
              <input type="range" class="range-min" min="0" max="1000" value="0" step="100" />
              <input type="range" class="range-max" min="0" max="1000" value="1000" step="100" />
            </div>
            <div class="price-input">
              <span>Giá:</span>
              <div class="field">
                <input name="min" type="number" class="input-min" value="0" />
              </div>
              <div class="separator">—</div>
              <div class="field">
                <input name="max" type="number" class="input-max" value="999" />
              </div>
              nghìn
            </div>
            <div>
              <div class="shop-filter-price-btn">
                <button type="submit" name="filter-price" class="custom-btn btn-3">
                  <span>Filter</span>
                </button>
              </div>
            </div>
          </div>

          <!-- Brand -->
          <div class="shop-brand">
            <h3 class="shop-title main">Thương hiệu</h3>
            <ul class="shop-brand__list">
              {{#each brands}}
              <li>
                <a href="/shop/brand/{{this.slug}}">
                  <input id="{{this.id_brand}}" type="checkbox" />
                  <label for="{{this.id_brand}}">{{this.name}}</label>
                  <span>(2)</span>
                </a>
              </li>
              {{/each}}
              <div>
                <button type="submit" name="filter-price" class="shop-filter-brand-btn custom-btn btn-3">
                  <span>Filter</span>
                </button>
              </div>
            </ul>
          </div>

        </div>

        <!-- Sidebar Overlay -->
        <div class="sidebar-shop-overlay hide-on-pc"></div>
      </div>

      <!-- Main -->
      <div class="col l-9 m-12 c-12">
        <div class="sidebar-toggle hide-on-pc">
          <i class="fa-regular fa-sliders"></i>
        </div>
        <div class="shop-main">
          <!-- s1 -->
          <div class="shop-main__s1">
            <select class="shop-select">
              <option value="">Sắp xếp theo mặc định</option>
              <option value="">Sort by popularity</option>
              <option value="">Sort by average rating</option>
              <option value="">Sort by latest</option>
              <option value="">Sort by price: low to high</option>
              <option value="">Sort by price: high to low</option>
            </select>
            <p class="shop-s1__result">Hiển thị 1–12 của95 kết quả</p>
          </div>

          <!-- s2 -->
          {{! <div class="shop-main__s2">
            <div class="shop-main__s2-top">
              CAR PARTS
              <span>FOR ANY CAR</span>
            </div>
            <div class="shop-main__s2-bot">
              <div class="shop-s2__content">
                <select class="shop-select ">
                  <option value="">Make</option>
                </select>
                <select class="shop-select ">
                  <option value="">Model</option>
                </select>
                <select class="shop-select ">
                  <option value="">Year</option>
                </select>
                <select class="shop-select ">
                  <option value="">Trim</option>
                </select>
                <span>Or</span>
                <input placeholder="Enter VIN" class="shop-select"></input>
                <div class="shop-s2__btn">Search</div>
              </div>
            </div>
          </div> }}

          <!-- s3 -->
          <div class="shop-main__s3">
            <img class="shop-s3__img" src="/image/banners/banner_img_5-2-1.jpg" alt="" />
            <div class="shop-s3__space"></div>
            <div class="shop-s3__inner">
              <div class="shop-s3__content">
                <p class="shop-s3__sub-title">Ưu đãi đặc biệt 1 lần</p>
                <h3 class="shop-s3__title">
                  THIẾT YẾU
                  <span>NHẤT</span>
                </h3>
              </div>
              <div class="shop-s3__btn">
                <button class="custom-btn btn-3">
                  <span>XEM CHI TIẾT</span>
                </button>
              </div>
            </div>
            <div class="shop-s3__space"></div>
          </div>

          <!-- Products -->
          <div class="shop-products">
            <div class="row">
              {{#each products}}
              <div class="col l-4">
                <div class="product">
                  <a href="/product/{{this.slug}}" class="product-wrap-img">
                    <img class="product-img" src="/image/products/{{this.image}}" />
                    <!-- hide -->
                    <div class="product-wrap-view">
                      Xem nhanh
                    </div>
                    <div class="product-wrap-sale">
                      {{discountPrice this.price this.promotion}}
                    </div>
                    <div class="product-wrap__icon">
                      <span><i class="fa-thin fa-heart"></i></span>
                      <span><i class="fa-thin fa-arrows-rotate"></i></span>
                    </div>
                  </a>

                  <div class="product-info">
                    <div class="product-info__border hide-on-mobile"></div>
                    <a href="/product/{{this.slug}}" class="product-info__name">
                      {{this.name}}
                    </a>
                    <div class="product-info__star">
                      {{{renderRating this.star}}}
                    </div>
                    <div class="product-info__wrap-price">
                      <div class="product-info__price">
                        {{formatVND this.price}}
                      </div>
                      <del class="product-info__priceold">
                        {{formatVND this.promotion}}
                      </del>
                    </div>
                    <div class="product-info__btn">
                      Add to cart
                    </div>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>

          <div class="pagination">
            <li class="pagination-item">
              <a href="" class="pagination-link">
                <i class="fa-solid fa-angle-left"></i>
              </a>
            </li>
            <li class="pagination-item active">
              <span>1</span>
            </li>
            <li class="pagination-item">
              <a href="./shop/page/' . $i . '" class="pagination-link">
                2
              </a>
            </li>
            <li class="pagination-item">
              <a href="./shop/page/' . ($current_page + 1) . '" class="pagination-link">
                <i class="fa-solid fa-angle-right"></i>
              </a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>